/* This rule sets default elements for the page. */
body {
  font: 16px "Comic Sans MS", cursive;
  background: url("Blue-rule.png");
  font-size: 10.5pt;
  color: #4d4e53;
  float: left;
  counter-reset: anum;
}


/* paragraph styles */
p { color: blue; }

#first { font-style: italic; }

/* letter modifications */
strong {
  background-color: #ddf; 
  color: red;
  font: 200% serif;
}

p:before {
  content: url("Yellow-pin.png");
}

em { color: brown; }

.carrot { color: orange; }

.spinach {
  color: green;
  background-color: #ddf;
}

/* numbered paragraphs */
 
p.numbered {
  color: black;
}

p.numbered:before {
  content: "(" counter(headnum,upper-latin) ") ";
  counter-increment: headnum;
  font-weight: bold;
}

 /* numbered headings */
h3:before {
  content: "(" counter(anum, upper-latin) ") ";
  counter-increment: anum;
}

h3 {
  float: left;
  clear: both;
 }

li {
  list-style: lower-roman;
  margin: 8px 0 8px 0;
  padding: 0;
}

#numbered {
  border: 1em solid #69b;
  padding-right:1em;
  float: left;
}

ul {
  padding-right:1em;
  border: 3px dashed dodgerblue; /*dashed, just because*/
  padding-right:0.5em;
  float: left;
  clear: both;
}

ul.newletters {
  counter-reset: headnum;
}

#fixed-pin  {
  position:fixed;
  top: 3px;
  right: 3px;
}

/*** Tables ***/

#demo-table {
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}

#demo-table > caption {
  text-align: right;
  font-style: italic;
  border-top: .4em solid #4ca;
  margin-top: .9em;
  caption-side: bottom;
}


/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: right;
  padding-right: .5em;
}

#demo-table th {
  padding-left: .5em;
  font-weight: normal;
}


/* header */
#demo-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;
  font-weight: normal;
  text-align: left;
}

#demo-table > thead > tr + tr > th {
  font-style: italic;
  font-weight: normal;
  color: gray;
  text-align: left;
}

/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cef;
  padding:.5em .5em .5em 3em;
  text-align: left;
  font-weight: normal;
  font-size: 100%;
  font-family: sans-serif;
}

#demo-table tbody th:after {
  content: ":";
}


/* footer */
#demo-table tfoot {

}

#demo-table tfoot th {
  font-weight: normal;
  color: blue;
}

#demo-table tfoot th:after {
  content: ":";
}

#demo-table > tfoot td {
  background-color: #cee;
}

#demo-table > tfoot > tr:first-child td {
  border-top: .2em solid #7a7;
}

#demo-table tbody td {
  border:1px solid #7a7;
}

#demo-table th {
  border:1px solid #e0e0dc;
}oc
